*{box-sizing: border-box;}

.grid{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
    outline: 1px solid black;
    height: 300px;
    width: 200px;
}

.tile{
    
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}